body {
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}
.header {
  background-color: #ffffff;
  width: 100%;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97px;
}

.header-block__img-burger { 
  display: none;
  width: 56px;
  height: 35px;
  margin: 31px 44px 31px 0;
}

.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97px;
}

.navigations-list {
  display: flex;
  list-style: none;
}

.navigations-list__item {
  margin-right: 27px;
}

.link {
  color: #000000;
}

.buttons {
  font-size: 13px;
  margin-right: 14px;
  padding: 10px 18px;
  border-radius: 3px;
  color: #ffffff;
}

.buttons__buttons-one {
  background-color: #EF7F04;
}

.buttons__buttons-two {
  background-color: #3B3A63;
}

.buttons__buttons-icon {
  margin-right: 13px
}

@media screen and (max-width: 1200px) {
  .navigations {
    display: none;
  }

  .header-block__img-burger {
    display: initial;
  }

  .container {
    width: 90%;
  }
}

/* section main */

.main {
  background-image: url(../img/Main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.main-info {
  display: flex;
}

.main-info__left {
  padding: 129px 30px 0 85px;
}

.main-info__title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #EF7F04;
display: block;
}

.main-info__subtitle {
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.main-info__block {
  display: flex;
  padding-top: 20px;
}

.main-info__item {
  margin-top: 20px;
  margin-right: 60px;
}

.main-info__icon {
  height: 90px;
}

.main-info__description {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.main-info__right {
  margin: 80px;
}

.form {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form__feedback {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  width: 405px;
  padding: 43px 40px 65px 40px;
  text-align: center;
}

.form__feedback-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #2F2F51;
  text-align: center;
  margin-bottom: 27px;
}

.form__feedback-inputs {
  margin-bottom: 15px;
}

.input__item {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background: #e2e2e2;
  border-radius: 3px;
  padding-left: 16px;
}

.input__item::placeholder {
  color: #424268;
}

.input__item_check {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  border: 2px solid red;
}

.input__checkbox {
  display: flex;
  align-items: center;
}

.input__checkbox label {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.input__text {
  font-weight: 400;
  font-size: 12px;
}

.input__text_color {
  color: #4B67AF;
}

.form__feedback-button {
  padding: 20px 30px;
  background: #EF7F04;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
}

.form__icon {
  position: absolute;
  left: -87px;
  bottom: -60px;
}

@media screen and (max-width: 1200px) {
  .form__feedback {
    display: none;
  }

  .main-info__left {
    width: 80%;
    padding-bottom: 80px;
  }
} 
  
/* section services */

.title-sections {
text-align: center;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #2F2F51;
}

.services__title {
padding: 56px 0 48px 0;  
}

.services-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.services-cards__cards-item {
width: 49%;
margin: 5px;
border-radius: 3px;
}

.services-cards__head {
display: flex;
align-items: center;
margin: 55px 0 20px 50px;
}

.services-cards__title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
color: #2F2F51;
margin-left: 20px;
}

.services-cards__description {
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #2F2F51;
margin: 20px 0 40px 52px;
}

.services-cards__cards-item_theme_one {
background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../img/Rectangle_1.png);
}

.services-cards__cards-item_theme_one:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-cards__cards-item_theme_two {
background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../img/Rectangle_2.png);
}

.services-cards__cards-item_theme_two:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-cards__cards-item_theme_three {
background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../img/Rectangle_3.png);
margin-bottom: 103px;
}

.services-cards__cards-item_theme_three:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-cards__cards-item_theme_four {
background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../img/Rectangle_4.png);
margin-bottom: 103px;
}

.services-cards__cards-item_theme_four:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1200px) {
  .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-cards__cards-item {
    background-position: center;
    background-size: cover;
    width: 595px;
    height: 268px;
    margin-bottom: 20px;
  }
}

/* section production */

.production-navigations {
  display: flex;
  justify-content: center;
}

.li__item {
  padding: 40px 0;
}

.li__link {
  color: #2F2F51;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 10px 25px;
}

.li__link:hover {
  color: #fff;
  background: #EF7F04;
  border-radius: 3px;
}

.production-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 3px;
}

.production-cards_size {
  margin: 0px 30px 0px 30px;
  height: 461px;
}

.production-cards__cards-item {
  width: 50%;
}

.production-cards__cards-item_background {
  background-color: #FFFFFF;
}

.production-cards__header {
  padding: 74px 32px 52px 34px;
}

.production-cards_sub-desription {
  display: flex;
  align-items: center;
}

.production-cards__cards-item_theme {
  background-image: url(../img/Production.png);
}

.production-cards__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #EF7F04;
}

.production-cards__title-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 40px 0 50px 0;
}

.produtcion-cards__feature-item {
  display: flex;
  padding-bottom: 20px;
}

.production-cards__feature-description {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  display: flex;
}

.production-cards__feature-description_border {
  border-bottom: 1px dotted #000;
  flex-grow: 1;
  width: 30%;
}

.production-cards__feature-description_border_value {
  width: 20%;
  font-weight: 600;
  color: #2F2F51;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* section quality */

.section-quality {
  background-image: url(../img/quality-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.quality-title {
  text-align: center;
}

.section-quality__title {
  margin-top: 70px;
  padding-top: 35px;
}

.section-quality__row { 
  padding: 50px 50px 40px 65px;
}

.quality-row__item {
  width: 100%;
}

.quality-row__icon {
  height: 90px;
  margin-left: 55px;
}

.section-quality__row {
  display: flex;
  justify-content: space-around;
}

.quality-row__description {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quality-button {
  display: flex;
  justify-content: ;
  color: #FFFFFF;
  background: #3B3A63;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
}

.quality-button__icon {
  margin-right: 13px;
}

.section-quality__button {
  display: flex;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

